= partial "partials/header"
= partial "partials/countdown"
= partial "partials/services"
= partial "partials/countdown_2"
= partial "partials/services_2"
= partial "partials/countdown_3"
= partial "partials/about"
= partial "partials/contact"
footer
/! Javascript files
/script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"
/! Type Form
/! jQuery
/script src="jquery.js"
= javascript_include_tag "jquery"
/! Backstretch
/script src="js/jquery.backstretch.min.js"
= javascript_include_tag "jquery.backstretch.min"
/! CountDown
/script src="js/jquery.countdown.js" type="text/javascript"
= javascript_include_tag "jquery.countdown"
/! Validate form
/script src="js/jquery.validate.js"
= javascript_include_tag "jquery.validate"
/! Scroll Reveal
/script src="js/scrollReveal.js"
= javascript_include_tag "scrollReveal"
/! Smooth Scroll
/script src="js/smooth-scroll.js"
= javascript_include_tag "smooth-scroll"
/! Youtube Player
/script src="js/jquery.mb.YTPlayer.js"
= javascript_include_tag "jquery.mb.YTPlayer.js"
/! Ajax chimp
/script src="js/jquery.ajaxchimp.js"
= javascript_include_tag "jquery.ajaxchimp.js"
/! Google map
script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAl-EDTJ5_uU3zBIX7-wNTu-qSZr1DO5Dw"
/! Custom
/script src="main.js" 
= javascript_include_tag :all
javascript:
